body{ 
    background-image: url(homepage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color:#863a26;
    font-size: 400%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    text-shadow: 2px 2px 5px #9E9BF9;
}
.centered {
    position: center;
    text-align: center;
    color: #6d3121;
    font-size: 100%;
    display: inline-block;
    border: 2px solid black;
    padding: 1.0rem 1.0rem;
    border-radius: 50px;
    transition: background 0.5s;
    text-shadow: 2px 2px 5px rgb(255, 251, 251);
  }

  .btn{
    display: inline-block;
    border: 2px solid black;
    padding: 1.0rem 1.0rem;
    background: rgb(139, 191, 255);
    font-size: 13px;
    text-decoration:burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border-radius: 20px;
    transition: background 0.5s;
    text-align: center;
    margin-left: 530px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #a84626;
  }
  .active {
    background-color: #FFFAC5;
  }

 